a {
    text-decoration: none;
}

.container {
    width: 580px;
    margin: 40px auto;
}


h1 {
    border-bottom: 1px solid;
    font-size: 18px;
    margin: 16px 0;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

h1 a {
    font-size: 16px;
    font-weight: normal;
    margin-left: auto;
    display: inline-block;
    background-color: orange;
    color: white;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all .2s;
}

h1 a:hover{
    opacity: 0.6;
}

h2 {
    font-size: 16px;
    margin-top: 100px;
    padding-top: 20px;
    border-top: black 1px solid;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    line-height: 1.6;
    margin-bottom: 8px;
}

.articles li {
    border-bottom: black 1px solid;
    transition: all 0.2s;
    padding: 10px 20px;
}

.articles li:hover {
    opacity: 0.6;
    color:  blue;
}

.articles li:hover a {
    color:  blue;
}

.back-link {
    font-size: 14px;
}

p {
    line-height: 1.6;
}

input, textarea {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

textarea {
    height: 160px;
}

button {
    padding: 4px 8px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 16px;
}

.form-button {
    text-align: right;
}

.form-button button {
    background-color: orange;
    color: white;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


.error {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}

.button {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #15c;
    cursor: pointer;
    vertical-align: 1px;
}

.comment-form {
    display: flex;
}

.comment-form input {
    height: 30px;
}

.comment-form > button {
    width: 80px;
    height: 30px;
    margin-left: 8px;
    color: orange;
    cursor: pointer;
    background-color: transparent;
    border: orange 1px solid;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
}

.delete-comment {
    display: inline-block;
}
